*{
    margin:0;
    padding: 0;
}
body{
    font-family: sans-serif;
}
#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar{
    background: url(background.png);
    padding: 0 !important;
}
.navbar-brand img{
    height: 40px;
    padding-left: 20px;
}
.navbar-nav li{
    padding: 0 10px;
}
.navbar-nav li a{
    color: #7D8FEF !important;
    font-weight: 600;
    float: right;
    text-align: left;
}
.fa-bars{
    color: #fff;
    font-size: 30px !important;
}
.navbar-toggler{
    outline: none !important;
}
/*----------------------banner------------------------------*/
#banner{
    background:url(background.png);
    color:#7D8FEF;
    padding-top:0%;
}
.promo-title{
    font-family: playfair display;
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
    color:#7D8FEF;
    display: inline;
}
.promo-titleU{
    font-family: playfair display;
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
    color:#AFBCFF;
    display: inline;
}

.play-btn{
    width: 30px;
    margin-top: 2px;
    margin-bottom: 15px;
}
#img-fluid{
    height: 400px;
}
#banner a{
    color: #7D8FEF;
    text-decoration: none;
}
.bottom-img{
    width: 100%;
}
/*-------------services--------------*/
#services{
    padding: 80px 0;
}
.service-img{
    width: 250px;
    margin-top: 20px;
}
.service{
    padding: 20px;
}
.service h4{
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
}
.title::before{
    content: '';
    background:#000;
    height: 5px;
    width: 200px;
    border-radius:20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
}
.title::after{
    content: '';
    background:#000;
    border-radius:20px;
    height: 8px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);
}
#services .btn-primary{
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    background: url(background.png);
}
/*---------about-us-------------*/
#about-us{
    background: #f8f9fa;
    padding-bottom: 50px;
    padding-top: 50px;
}
.about-title{
    font-size: 40px;
    font-weight: 600;
    margin-top: 8%;
}
#about-us ul li{
    margin: 10px 0;
}
#about-us ul{
    margin-left: 20px;
}
/*--------------testimonials---------------------*/
#testimonials{
    background: url(background.png);
}
.title1{
    color: #7D8FEF;
}
.car-img{
    width: 100%;
}
.title1::before{
    content: '';
    background:#7D8FEF;
    height: 5px;
    width: 200px;
    border-radius:20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
}
.title1::after{
    content: '';
    background:#7D8FEF;
    border-radius:20px;
    height: 8px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);
}
/*-------------social-media-------------*/
#social-media{
    background-color: #fff;
    padding: 100px 0;
}
#social-media p{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
}
.social-icons img{
    width: 60px;
    transition: 0.5s;
    cursor: pointer;
}
.social-icons a:hover img{
    transform: translateY(-10px);
}
/*------------footer----------------*/
#footer{
    background: url(background.png);
    color: #7D8FEF;
}
.footer-img{
    width: 100%;
}
.footer-box{
    padding: 20px;
}
.footer-box img{
    width: 120px;
    margin-bottom: 20px;
}
.footer-box .form-control{
    box-shadow: none;
    border: none;
    border-radius: 0;
    margin-top: 25px;
    max-width: 250px;
}
.footer-box .btn-primary{
    box-shadow:none;
    border: none;
    border-radius: 0;
    margin-top: 30px;
    background-color: #7D8FEF;
}
hr{
    background-color: #7D8FEF;
    height: 1px;
}
.copyright{
    margin-bottom: 0;
    padding-bottom: 20px;
    text-align: center;
}
